@import './Variables.scss';
@import './AuthPages.scss';
@import './Initial.scss';
@import './Loading.scss';
@import './Settings.scss';

* {
	font-family: 'Nunito Sans', sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0%;
}

header {
	background-color: #14213d !important;
	margin: 0 auto !important;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}

.LoadingPage {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	display: flex;
}

.navbutton {
	&:nth-last-of-type(1) {
		margin-left: auto;
	}
}
